node_modules/
.expo/
.expo-shared/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
babel.config.js
android/
ios/
.buckconfig
.gitattributes
metro.config.js

# macOS
.DS_Store
