node_modules/
.expo/
.expo-shared/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
babel.config.js
package-lock.json
android/
ios/
.buckconfig
.gitattributes
metro.config.js
yarn.lock
yarn-error.log

# macOS
.DS_Store
